html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
border:0;
font:inherit;
font-size:100%;
margin:0;
padding:0;
vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
display:block;
}

html {background: #19223A; font-family: 'Yu Gothic Medium', Calibri; font-size: 16px; color: #000A25;}

#banner {
	width: 90%;
	max-width: 1063px;
	margin: auto;
}

#bannerNames h1 {
	font-size: 2.5em;
	color: #F3F4F6;
	width: 100%;
	position: relative;
	margin-top: -21%;
	margin-left: -34%;
}

#bannerNames h3 {
	color: #F3F4F6;
	font-size: 2em;
	font-style: italic;
	width: 100%;
	position: relative;
	margin-top: -2%;
	margin-left: 3%;
}

#bannerDetails {
	color: #F3F4F6;
	width: 100%;
	position: relative;
	margin-top: 4.5%;
	margin-left: 3%;
	margin-bottom: 2.05%;
}

#bannerDetails p {
	line-height: 30px;
}

#usedSpace {
	width: 90%;
	max-width: 1063px;
	background: #4C5366;
	margin: auto;
}

#photos	 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

#photos img {
	-webkit-border-radius: 50px;
	border-radius: 50px;
	border: 2px solid #F64462;
	margin: 2px;
}

#aboutMe {
	text-align: center;
}

#aboutMe p {
	padding: 4px;
}

#interest {
	text-align: center;
	padding: 0 30px 0 30px;
}

#interest p {
	padding: 8px;
}

#ideal h1, h2 {
	text-align: center;
	line-height: 30px;
}

#ideal img {
	float: left;
	border: 2px solid #F64462;
	border-radius: 20px;
	margin: 0 30px 0 30px;
}

#column1 {
	float: left;
	padding: 20px 0 10px 350px;
}

#column2 {
	float: right;
	padding: 20px 350px 10px 0;
}

#why {
	padding: 110px 0 0 0;
}

.right h3 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px 0 0 0;
}

.right p {
	padding: 15px 30px 0 10px;
}

.mid h3 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	padding: 10px 0 0 0;
}

.mid p {
	text-align: center;
	padding: 15px 30px 5px 30px;
}

#myers img {
	float: left;
	border: 2px solid #F64462;
	border-radius: 20px;
	margin: 20px 30px 0 30px;
}

#myers h3 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 30px 0 0 0;
	text-align: center;
}

#myers p {
	text-align: center;
	padding: 8px;
	margin-right: 30px;
}

#quote p {
	text-align: center;
	font-style: italic;
}

#learning img {
	float: right;
	border: 2px solid #F64462;
	border-radius: 20px;
	margin: 60px 30px 0 30px;
}

#learning h3 {
	font-size: 1.5em;
	font-weight: bold;
	padding: 25px 0 0 0;
	text-align: center;
}

#learning p {
	text-align: center;
	padding: 8px;
	margin-left: 30px;
}

#project {
	text-align: center;
	padding: 0 30px 0 30px;
}

#project h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px 0 0 0;
}

#project p {
	padding: 8px;
}

#bigFive img {
	float: left;
	border: 2px solid #F64462;
	border-radius: 20px;
	margin: 20px 10px 20px 45px;
}

#bigFive1 img {
	float: right;
	border: 2px solid #F64462;
	border-radius: 20px;
	margin: 20px 45px 20px 10px;
}

.bigFiveTest h3 {
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
	padding: 10px 0 0 0;
}

.bigFiveTest p {
	text-align: center;
	padding: 8px;
	margin: 0 30px 0 30px;
}

#firstP p {
	text-align: center;
	margin: 290px 30px 0 30px;
}

h1 {
	font-size: 2em;
	font-weight: bolder;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	font-style: italic;
	padding: 0 0 20px 0;
}

section {
	border-top: 1px solid #F3F4F6;
	padding: 20px 0 20px 0;
}
